<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>HelloWorld</display-name>
  <servlet>
  		<!-- Servlet的名称 -->
  	    <servlet-name>springmvc</servlet-name>
  	    <!-- Servlet对应的Java类 -->
  	    <servlet-class>
  	    	org.springframework.web.servlet.DispatcherServlet
  	    </servlet-class>
  	    <!-- 当前Servlet的参数信息 -->
  	    <init-param>
  	    	<!-- contextConfigLocation 是参数的名称，该参数的值包含springmvc的配置文件路径 -->
  	    	<param-name>contextConfigLocation</param-name>
  	    	<param-value>/WEB-INF/springmvc-config.xml</param-value>
  	    </init-param>
  	    <!-- 在Web应用启动时立即加载Servlet -->
  	    <load-on-startup>1</load-on-startup>
  </servlet>
  <!-- Servlet映射声明 -->
  <servlet-mapping>
  	<!-- 请求对应的Servlet的名称 -->
  	<servlet-name>springmvc</servlet-name>
  	<!-- 监听当前域的所有请求 -->
  	<url-pattern>/</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>